$root_light: #ede7de;
$root_dark: #233831;

$suface_light: #faf8f6;
$suface_dark: #2d483f;

$bgColor_light: #faf8f6;
$bgColor_dark: #2d483f;

$primary_light: #4e6964;
$primary_dark: #d0e9e0;

$secondary_light: #2d483f;
$secondary_dark: #8fdcc2;

$surface-bright_light: #f6f3ef;
$surface-bright_dark: #526961;

$surface-bright-on-primary_light: #faf8f6;
$surface-bright-on-primary_dark: #657e75;
