/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark {
  @include darkMode();
}

body.light {
  @include lightMode();
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--surface-container);
  color: var(--primary-text);
  max-width: 500px;
  margin: auto;
  padding: 16px;
}

a {
  text-decoration: none;
}
