.toggle-btn-container {
  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  span {
    padding: 2px 4px;
  }

  .dark {
    background-color: var(--secondary);
    padding: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .light {
    @extend .dark;
    color: var(--surface);
  }
}
