@import "../../../../styles.scss";

.main {
  .toggle {
    position: absolute;
    display: flex;
    align-items: center;
    transform: translate(4px, -260%);

    .toggle-all {
      opacity: 0;
      cursor: pointer;

      &:checked {
        + label {
          transform: rotate(90deg);
          transition: all 0.2s ease-in;
        }
      }
    }

    label {
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:before {
        content: "❯";
        font-size: 16px;
        color: var(--primary-text);
      }
    }

    .hidden {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
}
